.cards{
    margin: 0 40px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 20px 100px;
}

.filtros{
    margin: 30px 0;
    justify-self: center;
}

.filtros input{
    padding: 10px 30px;
    font-weight: bold;
    border: 1px solid black;
    border-right: 0px;
    background-color: rgb(219, 217, 215);
}

.filtros button{
    padding: 10px 30px;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
}

.pesquisa{
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

.pesquisa button{
    padding: 10px 30px;
    border: 1px solid black;
    border-left: 0px;
}

.todos{
    background-color: rgb(206, 204, 204);
}

.fogo{
    background-color: orangered;
}

.agua{
    background-color: rgb(0, 183, 255);
}

.raio{
    background-color: rgb(238, 255, 0);
}

.vento{
    background-color: rgb(185, 93, 228);
}

.planta{
    background-color: rgb(11, 177, 39);
}
